h1 { 
            color: red;
         }
        #para1{
            font-size:18px;
            color: white;
            background-color: black;
            border: 5px solid red;
         }

         .commonpara{
            background-color: blueviolet;
            color: #fff;
         }